{{> navBar}}

<h1>Generate New Reset Password Email</h1>
<form action="/api/user/requestPasswordReset" method="POST" class="formRequestPasswordReset">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"
    {{#if user.email}}
    value={{user.email}}
    {{/if}}
     required>
    <button type="submit">Send New Reset Password Email</button>
</form>